#生产环境配置
server:
  port: 80
springdoc:
  api-docs:
    enabled: false
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
spring:
  influx:
    url: http://localhost:8086
    user: admin
    password: 12345678
  mail:
    host: smtp.163.com
    username: javastudy111@163.com
    password: VKQFYZMUSUZGSGEG
  datasource:
    url: jdbc:mysql://localhost:3306/test
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  security:
    jwt:
      key: 'abcdefghijklmn'
      expire: 72
      limit:
        base: 10
        upgrade: 1
        frequency: 30000
    filter:
      order: -100
  web:
    verify:
      mail-limit: 30
    flow:
      period: 2
      limit: 1000
      block: 10
    cors:
      origin: '*'
      credentials: false
      methods: '*'
